* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}




header{ 
  width: 100%;
  margin: 0;
  padding: 2.5rem;
  background-color: black;
}


h1{ 
  background-color: aquamarine;
  font-size: 10rem;
}


nav a{ 
  color: aquamarine;
  margin: 1rem;
  font-size: 1.5rem;
}

.avatar { 
  max-width: 20%;
  max-height: 10%;
}


.hero-banner { 
  width: 100%;
  height: 6rem;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  height: 6rem;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.hero-banner h2 { 
  background-color: aquamarine;
  color: black;
  margin-right: 4rem;

}

/* Titled Images */


.container {
  position: relative;
}

#projects img { 
  width: 20rem;
  height: 10rem;
}

#main-project img { 
  width: 40rem; 
  height: 20rem;
}
.text-block {
  position: absolute;
  bottom: 20px;
  background-color: aquamarine;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 900px)  {
  header{ 
    height: 4rem;
    
  }

  h1 { 
    font-size: 6rem;
  }
   
  header, .hero-banner, main { 
    width: 100%; 
  }

  nav{ 
    float: right;
  }

  .hero-banner { 
    height: 3rem;
    clear: both;
    justify-content: center;
  }

  .hero-banner h2 {
    margin: 0.4rem;
    background-color: #b1e9dd ;

  }

}

@media screen and (min-width: 901px) { 
  header, nav, h1 { 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }

 #projects .container{ 
  width: 30%;
  height: auto; 
  float: left;
  margin: 1%
 }
 
 .page-section { 
  clear: both
 }
  /*put grid in here so page goes into grid when large enough?*/ 
}

/*  I DONT UNDERSTAND HOW TO MAKE A GRID 

.pagewrapper { 
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    title cont
    title cont
    title cont
  ;
}

.title { 
  grid-area: title;
}
.content{ 
  grid-area: cont;
}

*/ 
