* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}




header{ 
  width: 100%;
  margin: 0;
  padding: 2.5rem;
  background-color: black;
}


h1{ 
  background-color: aquamarine;
}


nav a{ 
  color: aquamarine;
}

.avatar { 
  max-width: 20%;
  max-height: 10%;
}




/* Titled Images */


.container {
  position: relative;
}

#projects img{ 
  width: 20rem;
  height: 10rem;
}

#main-project img{ 
  width: 40rem; 
  height: 20rem;
}
.text-block {
  position: absolute;
  bottom: 20px;
  background-color: aquamarine;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}






/* MEDIA QUERIES */

@media screen and (max-width: 800px)  {
  header{ 
    height: 4rem;
    
  }
   header, .hero-banner, main { 
    width: 100%;
    
    margin: 2rem;
  }

  nav{ 
    float: right;
  }
}

@media screen and (min-width: 801px) { 

  /*put grid in here so page goes into grid when large enough?*/ 
}

/*  I DONT UNDERSTAND HOW TO MAKE A GRID 

.pagewrapper { 
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    title cont
    title cont
    title cont
  ;
}

.title { 
  grid-area: title;
}
.content{ 
  grid-area: cont;
}

*/ 
